<header>
  <nav class="nav">
    <div class="nav_logo">LOGO</div>
    <div class="nav_spaceholder" />
    <div class="nav_links">
      <LinkTo class="nav_links_item" @route='index'>MAIN</LinkTo>
      <LinkTo class="nav_links_item" @route='sales'>SALES</LinkTo>
      <LinkTo class="nav_links_item" @route='top-products'>TOP</LinkTo>
      <LinkTo class="nav_links_item" @route='about-shop'>ABOUT</LinkTo>
    </div>
  </nav>
</header>
{{outlet}}