@import "./nav.scss";
@import "./colors.scss";
@import "./categories.scss";
@import "./product.scss";

@import "ember-modal-dialog/ember-modal-structure";

body {
  margin: 0;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}
