.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &-btns {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
  }

  &-btn {
    background: #fff;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    padding: 5px 15px;
    transition: all 0.3s;
  }

  &-btn:hover {
    background: var(--main-text-color);
    color: #fff;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 300px;
  border: 1px solid var(--main-text-color);
  margin-bottom: 20px;
  padding-bottom: 5px;
  transition: all 0.3s;

  &_img {
    max-width: 95%;
    margin-top: 5%;
    margin-bottom: 10px;
    max-height: 80%;
  }

  &_title {
    font-size: 16px;
    color: var(--main-text-color);
  }

  &_price {
    font-size: 16px;
    color: var(--main-text-color);
  }
}

.product:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
